body {
    display: flex;
    flex-direction: column;
}

mi-header {
    z-index: 100;
}

mi-header2 {
    z-index: 100;
}
mi-form {
    z-index: 10;
}

mi-slider {
    z-index: 0;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

@media (max-width: 1023px) {
    mi-slider {
        z-index: 0;
        margin-top: 0vh;
        margin-bottom: 0vh;
    }
}